@tailwind base;
@tailwind components;
@tailwind utilities;

/* una vez importada la fuente, la usaremos en el body */



html, body{
  

  padding: 0;
  margin: 0;
  @apply bg-zinc-900 text-slate-50;
  height: 100%;
  

}

.contenedorPrincipal{
  @apply flex flex-col items-center  h-screen ;
}


h1{
  @apply text-white text-4xl font-bold;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}





.tarjeta {
  @apply flex  flex-col items-center justify-center rounded-lg bg-slate-100 p-5 shadow-lg ;
}

.titulo {
  @apply text-xl font-bold text-scooter-900 ;
}

.lista {
  @apply w-full text-left text-base text-slate-700 flex-col flex;
}

.ejercicio {
  @apply flex flex-wrap items-center justify-center rounded-xl bg-green-300 p-2;
}

.titulo-ejercicio {
  @apply font-bold hover:text-fercho-950 transition-all ease-in-out cursor-pointer;
}

.detalles-ejercicio {
  @apply flex w-full h-full flex-wrap gap-3 text-slate-500;
}

.etiqueta {
  @apply font-semibold;
}

.gradiente{
  background: rgb(0,7,1);
  background: radial-gradient(circle, rgba(0,7,1,1) 0%, rgba(0,0,0,1) 51%, rgba(0,47,20,1) 100%);
}